//#####################
//####Docker Params####
//#####################
docker.enabled = true
//docker.runOptions = ""

//####################
//#Singularity Params#
//####################
//singularity.enabled = true
//singularity.runOptions = ""
//process.stageInMode = "link"

//####################
//##AWS Batch Params##
//####################
//process.executor = 'awsbatch'
//process.queue = ''
//aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
//aws.region = 'us-east-1'
//workDir = 's3://'

//#######################
//##Google Cloud Params##
//#######################
//process.executor = ''
//google.project = ''
//google.location = ''
//google.region = ''
//workDir = ''
//google.lifeSciences.bootDiskSize = 50.GB

//##################
//##Nextflow Tower##
//##################
//tower.accessToken = ''
//tower.enabled = true

//#########################
//####Docker Containers####
//#########################

samtools_image = 'staphb/samtools:1.12'
minimap2_image = 'staphb/minimap2:2.18'
ivar_image = 'staphb/ivar:1.3.1'
pbaa_image = 'quay.io/biocontainers/pbaa:0.1.4--0'
mafft_image = 'staphb/mafft:7.475'
snp_sites_image = 'quay.io/biocontainers/snp-sites:2.5.1--h5bf99c6_1'


//#####################
//###Pipeline Params###
//#####################
params.outdir = "mirkriver_results"
params.pacbio = ""
params.reference_genome = "$baseDir/nCoV-2019.reference.fasta"
params.reference_gff = "$baseDir/nCoV-2019.reference.gff"

//variant calling params
params.minquality = '20'
params.minfreq = '0.03'
params.minreaddepth = '0'

//#### Add Pipeline Params Here ####


process {

  cpus = 2
  memory = '2 GB'

  withName:preProcessPacBioBAM {
    container = samtools_image
  }

  withName:pbaa {
    container = pbaa_image
  }

  withName:cluster_seq_alignment {
    container = mafft_image
  }

  withName:cluster_variant_sites {
    container = snp_sites_image
  }

  withName:mapping_reads {
    container = minimap2_image
  }

  withName:ivar_variant_calling {
    container = ivar_image
  }

}
